<h1>Modificar jerarquía del usuario</h1>

<%= render 'form' %>

<hr/>
<%= link_to 'Ver', @administration_user_hierachy, :class => 'link-button' %>
<%= link_to 'Cancelar', administration_user_hierachies_path, :class => 'link-button' %>
