<h1>Modificar tipo de comentario</h1>

<%= render 'form' %>

<hr />
<%= link_to 'Ver', @catalogs_comment_type, :class => 'link-button' %>
<%= link_to 'Regresar', catalogs_comment_types_path, :class => 'link-button'  %>
