<head>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#other_man").hide("fast")
      $(".combo_man").change(function(){
        var temp = new Array();
        var i=0;
        b = $(".combo_man  option:selected").text();
        if (b.substr(0,4) == "Otro")
        {
        $("#other_man").show("fast")
        } else $("#other_man").hide("fast");


        temp = b.split('$');

        var ls_importe =  temp[1];
        i = ls_importe.indexOf("|");
        ls_importe = ls_importe.substring(0, i);
        //alert(temp[0]);
        var x=(document).getElementById('importe_man');
        x.value = ls_importe;   //temp[1];


        //--Unidad de medida
        temp = b.split('|');
        var x=(document).getElementById('unit_measure_man');
        x.value = temp[1];

        //$('.tsupplies').append("<tr><td> liliana </td></tr>");

        //alert(x.value);
        //$(this).hide() eOK
        //$("ul").append("<li>Ultima</li>")
        //$(".tipo").hide() OK


        return false;
      });


    });
    </script>
</head>

