<h1>Involucrados</h1>

<table class="table1">
  <tr>
    <th>Nombre</th>
    <th>Correo</th>
  </tr>

<%#= will_paginate @users %>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>
<hr />
<%= link_to 'Regresar', :back, :class => 'link-button' %>
<br />

