<h1 class="title">Modificar datos de usuario</h1>

<%= render 'form' %>

<hr />
<%= link_to 'Ver', @administration_user, :class => 'link-button' %>
<%= link_to 'Cancelar', administration_users_path, :class => 'link-button' %>
