/* 
    Document   : service_requests
    Created on : Aug 19, 2010, 9:04:39 AM
    Author     : martinezo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

a:hover{
    background-color: white;
    color:black;

}

h1{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9a1c1c;
    font-size: 24px;
    vertical-align: middle;
    text-align: left;
}

h2{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9a1c1c;
    font-size: 18px;
    vertical-align: middle;
    text-align: left;
}

h3{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9a1c1c;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
}

.field{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.table1{
   width: 810px;
   border:1px solid #9a1c1c;
   border-spacing: 0px;   
}

.table1 th{
    border:1px solid #9a1c1c;
    background-color:#ffdcdc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right:  4px;
}

.table1 td{
    border:1px solid #9a1c1c;
    padding: 3px;
}

.table_header{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.table_content{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-align: center;
}

/*#menu_left{
     width: 160px ;
     float:  left ;
}

#menu_element{
    width: 160px ;
    height: 30px;
}

#yield_right{
     width: 810px ;
     float:  left ;
     padding-left: 20px;
}
*/

#menu_element{
    width: 160px ;
    height: 62px;
}

/*--------------------------------------------- */

#menu{
     width: 160px ;
     float:  left ;
}

#content{
     width: 810px ;
     float:  left ;
     padding-left: 20px;
}

.link-button {
    border: 4px outset;
    border-color:#9a1c1c;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    background-color:#ffdcdc;
    float: right;
 }
