/* 
    Document   : service_requests
    Created on : Aug 19, 2010, 9:04:39 AM
    Author     : martinezo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/







/*root {
    display: block;
}



a:link, a:visited{
    color:dimgray;
}









.table_content_c2{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
        color: #0;
        background-color: #E4E6E5;
        border-top: 1px solid #369;
        padding-left: 5px;
        padding-right: 5px;
        text-align: right;
}

.table_content_c3{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
        color: #0;
        background-color: #EFEFEF;
        border-top: 1px solid #369;
        padding-left: 5px;
        padding-right: 5px;
        text-align: right;
}


.table_content_c4{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
        color: #0;        
        border-top: 1px solid #369;
        padding-left: 5px;
        padding-right: 5px;
        text-align: right;
        background-color:#FFFFCC;
}



.text_area {
width: 600pt;
}

/*#menu_left{
     width: 160px ;
     float:  left ;
}

#menu_element{
    width: 160px ;
    height: 30px;
}

#yield_right{
     width: 810px ;
     float:  left ;
     padding-left: 20px;
}


.menu_element{
    width: 160px ;
    height: 62px;
}
*/

/*

#v_menu{
     width: 160px ;
     float:  left ;
}





#login{
    width: 240px ;
    height: 100px;
    position:absolute;
    left: 375px
}

#table-login{
    margin-left:auto;
    margin-right:auto;
    border:2px solid #9A1C1C;
}

.text_underline_rigth{
    border-bottom-style: ridge;
    border-bottom-color: #FC6;    
    text-align: right;
    padding-bottom: 5px;
}

.text_underline_left{
    border-bottom-style: ridge;
    border-bottom-color: #FC6;
    text-align: left;
    padding-bottom: 5px;
}



#content_center {
width: 990px;
margin: 0 auto;
}*/
