<h1>Editing requests_request_commentary</h1>

<%= render 'form' %>

<%= link_to 'Show', @requests_administration_request_commentary %> |
<%= link_to 'Back', requests_administration_request_commentaries_path %>
