<h1>Modificar mano de obra</h1>

<%= render 'form' %>

<hr/>
<%= link_to 'Ver', @catalogs_workmanship, :class => 'link-button' %> 
<%= link_to 'Cancelar', catalogs_workmanships_path, :class => 'link-button' %>
