/* Insert a notice between the last comment and the comment form */
$("#comment-notice").html('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>');


/* Add the new comment to the bottom of the comments list */
$("#supplies").append("<%= escape_javascript(render(@budgets_budget_supplies)) %>");
jQuery('#supplies').append("<%= escape_javascript(render(@budgets_budget_supplies)) %>");
/* Highlight the new comment */
$("#comment_<%= @budgets_budget_supplies.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_comment")[0].reset();
