<h1>Modificar ubicación</h1>

<%= render 'form' %>

<hr/>
<%= link_to 'Ver', @catalogs_ubication, :class => 'link-button' %>
<%= link_to 'Cancelar', catalogs_ubications_path, :class => 'link-button' %>

