<table width="990" height="125" background ="/images/cac_header.png">
  <div id="image1" style="position:absolute; overflow:hidden; left:40px;
       top:18px; width:100px; height:100px; z-index:1"><img src="/images/unam.gif" alt="" border=0 width=100 height=100></div>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>